<%- content_for :head do %><%= noindex() %><% end -%>
<%- title 'Review' -%>
<div class="page-header">
  <h1>Review</h1>
</div>

<p>Um nach dem Import von kleinen Anfragen fehlende Daten zu finden, gibt es folgende Seiten:</p>
<ul>
<li><%= link_to 'Status der Scraper', scraper_results_path %></li>
<li><%= link_to 'Fehlende Daten an Anfragen', review_papers_path %></li>
<li><%= link_to 'Möglicherweise kaputte Ministerien', review_ministries_path %></li>
<li><%= link_to 'Heute angelegte Einträge', review_today_path %></li>
<li><%= link_to 'Länger Unbeantwortet', review_late_path %></li>
<li><%= link_to 'Zusammengehörende Anfragen', review_relations_path %></li>
</ul>
