<%
show_body = false if show_body.nil?
%>
<li>
  <p>
    <span class="source">
      <%= link_to paper.body.state, paper.body, title: paper.body.name if show_body -%>
      <span class="label label-default"><%= link_to_paper paper.full_reference, paper %></span>
    </span>
    <%= link_to_paper paper.title, paper %>
  </p>
  <p class="meta">
    Eingereicht von: <%= paper.originators.collect(&:name).join(', ') %> &mdash; Veröffentlicht am <time datetime="<%= paper.published_at.iso8601 %>"><%= l paper.published_at %></time>
     &mdash; <%= paper.page_count || '?' %> <%= t :pages, count: paper.page_count || 0 -%><%- if paper.contains_table %>, enthält Tabelle<% end %>
  </p>
</li>
