<% content_for :title do %><%= @paper.title %> (<%= @paper.full_reference %>) &mdash; <%= @body.name %>, <%= @legislative_term %>. Wahlperiode<% end %>

<% content_for :main_fullwidth do %>
<div class="breadcrumb-fullwidth">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to @body.name, @body %></li>
      <li><%= link_to legislative_term_path(@body, @legislative_term) do %>
        <%= @legislative_term %>. Wahlperiode
      <% end %></li>
      <li class="active">Drucksache <%= @paper.reference %></li>
    </ol>
  </div>
</div>
<% end %>

<div class="page-header">
  <h1><%= @paper.title %></h1>
</div>

<div class="row">
  <div class="col-md-9">
    <iframe src="http://mozilla.github.io/pdf.js/web/viewer.html?file=<%= paper_downloaded_pdf_url(@body, @legislative_term, @paper) %>" width="100%" height="600px" frameborder="0"></iframe> <%# FIXME download and vendor pdf.js %>
  </div>
  <div class="col-md-3">
    <p><span class="label label-default label-big"><%= @paper.full_reference %></span></p>
    <p>Eingereicht von:<br/><%= @paper.originators.collect(&:name).join(', ') %></p>
    <p>Veröffentlicht am <%= l @paper.published_at %></p>
    <p>
      <%= link_to 'Download PDF', paper_path(@body, @legislative_term, @paper, {format: :pdf}), {class: 'btn btn-primary'} %>
      <br/><small>(<%= @paper.page_count %> <%= t :pages, count: @paper.page_count %>)</small>
    </p>
  </div>
</div>