<%
  title "#{@paper.title} (#{@paper.full_reference}) &mdash; #{@body.name}, #{@legislative_term}. Wahlperiode"
  description @paper.description
  thumb = @paper.thumbnail_url
  opengraph do |graph|
    graph.title @paper.title
    graph.description @paper.description
    graph.image thumb unless thumb.nil?
  end
  twitter_card('summary') do |card|
    card.title @paper.title
    card.description @paper.description
    card.image thumb unless thumb.nil?
  end
-%>
<%- content_for :head do %>
<%= tag 'link', href: paper_path(@body, @legislative_term, @paper, {format: :json}), rel: 'alternate', type: 'application/json' -%>
<%- end -%>
<% content_for :main_fullwidth_prepend do %>
<div class="breadcrumb-fullwidth">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to @body.name, @body %></li>
      <li><%= link_to "#{@legislative_term.to_s}. Wahlperiode", legislative_term_path(@body, @legislative_term) %></li>
      <li class="active">Drucksache <%= @paper.reference %></li>
    </ol>
  </div>
</div>
<% end %>

<div class="page-header">
  <h1><%= @paper.title %></h1>
</div>

<div class="row">
  <div class="col-md-3 col-md-push-9">
    <p><span class="label label-default label-big"><%= @paper.full_reference %></span></p>
    <p><%= @paper.doctype_human.titleize %></p>
    <p>
      Eingereicht von:<br class="hidden-xs hidden-sm"/>
      <%-
        o_people = @paper.originator_people.collect(&:name)
        o_orgs = @paper.originator_organizations
      -%>
      <%= o_people.join(', ') %><% if o_people.size > 0 %><span class="visible-xs-inline visible-sm-inline">,</span><br class="hidden-xs hidden-sm" /><% end %>
      <%= safe_join(o_orgs.map { |org| link_to org.name, organization_path(@body, org) }, ', ') %>
    </p>
    <% if @paper.answerer_ministries.size > 0 %>
    <p>
      Beantwortet von:<br class="hidden-xs hidden-sm"/>
      <%= safe_join(@paper.answerer_ministries.map {|ministry| link_to ministry.name, ministry_path(@body, ministry) }, ', ') %>
    </p>
    <% end %>
    <% unless @paper.published_at.nil? %>
    <p>Veröffentlicht am <%= l @paper.published_at %></p>
    <% end %>
    <p>
      <%= link_to 'PDF herunterladen', paper_path(@body, @legislative_term, @paper, {format: :pdf}), {class: 'btn btn-primary', target: '_blank'} %>
      <br/><small>(<%= @paper.page_count || '?' %> <%= t :pages, count: @paper.page_count || 0 %>)</small>
      <% if @body.use_mirror_for_download? %>
      <small>&mdash; <%= link_to 'Gespiegelte Version', info_path %></small>
      <% end %>
      <% unless @paper.source_url.blank? %>
      <small>&mdash; <%= link_to "Quelle", @paper.source_url %></small>
      <% end %>
    </p>
    <p>
      <label for="shorturl" class="shorturl-label">Kurz-URL:</label>
      <input type="text" name="shorturl" id="shorturl" value="<%= paper_short_url(@paper) %>" readonly="readonly" class="shorturl-input"/>
    </p>
    <% if @paper.contains_table %>
    <p>Diese Anfrage enthält eine oder mehrere Tabellen. Um diese einfach exportieren zu können, ist u.a. <a href="http://tabula.technology">Tabula</a> hilfreich.</p>
    <% end %>
  </div>
  <div class="col-md-9 col-md-pull-3 paper-viewer-wrapper">
    <% if o_orgs.collect(&:name).map(&:downcase).include? 'npd' %>
    <div class="alert alert-nuts">
      <p><strong>Hinweis:</strong> Diese Anfrage kann Spuren von Rechtsextremismus enthalten.</p>
    </div>
    <% end %>
    <iframe src="<%= paper_pdf_viewer_path %>" width="100%" height="600px" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
  </div>
</div>

<% if report_enabled? %>
<div class="row">
  <div class="col-md-3 col-md-push-9">
    <p class="report"><%= link_to 'Problem melden', paper_report_path(@body, @legislative_term, @paper) %></p>
  </div>
</div>
<% end %>

<% if @paper.part_of_series? %>
<div class="row">
  <div class="col-md-9">
    <p>
      Diese Anfrage scheint Teil einer Serie zu sein.
      <%= link_to 'Nach weiteren Anfragen in dieser Serie suchen.', search_path({
          q: "\"#{@paper.series_title}\" body:#{@body.state}",
          sort: 'published_at:desc'
        })%>
    </p>
  </div>
</div>
<% end %>

<%
  if @paper.related_papers.size > 0
    related = @paper.related_papers.uniq
%>
<div class="row">
  <div class="col-md-9">
    <h3><%= t :related_papers, count: related.size %>:</h3>
    <ul class="paper-list paper-list--with-body">
      <%= render partial: 'paper/paper', collection: related, locals: { show_body: true }  %>
    </ul>
  </div>
</div>
<% end %>

<!-- Paper/<%= @paper.id %> -->