<% title "Suche nach #{@display_term}" + (!@papers.first_page? ? " (Seite #{@papers.current_page})" : '') %>
<%- content_for :head do %><%= auto_discovery_link_tag(:atom, search_url(q: @query, format: :atom), title: "Suche nach #{@display_term}") %><% end -%>

<% content_for :main_fullwidth_prepend do %>
<%= form_tag "/search", method: :get, role: 'search', class: 'search', enforce_utf8: false do %>
  <div class="jumbotron jumbotron--search">
    <div class="container">
      <div class="input-group">
        <%= text_field_tag 'q', @display_term,
                           type: :search,
                           id: :searchq,
                           class: 'form-control',
                           placeholder: t('search.placeholder_html') %>
        <span class="input-group-btn">
          <%= button_tag 'Suchen', type: :submit, name: nil, class: 'btn btn-success' %>
        </span>
      </div>
    </div>
  </div>
  <div class="facetbar form-inline">
    <div class="container">
      <div class="facetbar-heading form-group">
        <label>Suche einschränken:</label>
      </div>
      <div class="checkbox facetbar-group">
        <label>
          <%= check_box_tag :table, 1, @conditions[:contains_table].presence, id: nil %> enthält Tabelle <%= write_facet_count('contains_table', 'T') %>
        </label>
      </div>
      <div class="form-group facetbar-group">
        <label for="body">Parlament:</label>
        <% @bodies.map! { |body| body.name = body.name + ' ' + write_facet_count('body', body.state); body }%>
        <%= select_tag :body, options_from_collection_for_select(@bodies, 'state', 'name', @conditions[:body]),
                       multiple: true,
                       class: 'selectpicker',
                       title: 'alle Parlamente' %>
      </div>
      <div class="form-group facetbar-group">
        <label for="body">Typ:</label>
        <% @doctypes.map! { |doctype| doctype.name = doctype.name + ' ' + write_facet_count('doctype', doctype.key); doctype }%>
        <%= select_tag :doctype, options_from_collection_for_select(@doctypes, 'key', 'name', @conditions[:doctype]),
                       multiple: true,
                       class: 'selectpicker',
                       title: 'alle Anfragen' %>
      </div>
      <div class="form-group facetbar-group">
        <label for="faction">Fraktion:</label>
        <% @factions.map! { |faction| faction.name = faction.name + ' ' + write_facet_count('faction', faction.slug); faction }%>
        <%= select_tag :faction, options_from_collection_for_select(@factions, 'slug', 'name', @conditions[:faction]),
                       multiple: true,
                       class: 'selectpicker',
                       title: 'alle Fraktionen' %>
      </div>
      <div class="form-group facetbar-group">
        <label for="sort">Sortieren:</label>
        <%= select_tag :sort, options_for_select([
                           ['beste Ergebnisse', ''],
                           ['Veröffentlicht &uarr;'.html_safe, 'published_at:desc'],
                           ['Veröffentlicht &darr;'.html_safe, 'published_at:asc'],
                           ['Seitenanzahl &uarr;'.html_safe, 'pages:desc'],
                           ['Seitenanzahl &darr;'.html_safe, 'pages:asc']
                         ], params[:sort]
                       ),
                       class: 'selectpicker',
                       title: 'beste Ergebnisse' %>
      </div>
      <div class="form-group facetbar-group">
        <%= link_to 'mehr&hellip;'.html_safe, search_advanced_path, title: 'Erweiterte Suche' %>
      </div>
    </div>
  </div>
<% end %>
<% end %>

<% if @papers.size > 0 %>

<ol class="paper-list paper-list--with-body">
  <% @papers.each do |paper, highlights| %>
  <li>
    <%
      title = paper.search_highlights.try(:fetch, :title, nil).try(:html_safe) || paper.title
      snippet = paper.search_highlights.try(:fetch, :contents, nil) || ''
      snippet += '&hellip;' unless snippet.blank?
    %>
    <p class="source-and-title">
      <span class="source">
      <%= link_to paper.body.state, paper.body, title: paper.body.name %>
      <span class="label label-default"><%= link_to_paper paper.full_reference, paper %></span></span>
      <%= link_to_paper title, paper, class: 'searchresult-title' %>
    </p>
    <p class="meta">
      Eingereicht von: <%= paper.originators.collect(&:name).join(', ') %>
      <% unless paper.published_at.nil? %>&mdash; Veröffentlicht am <%= time_tag(paper.published_at, l(paper.published_at)) %><% end %>
      &mdash; <%= paper.page_count || '?' %> <%= t :pages, count: paper.page_count || 0 -%><%- if paper.contains_table -%>, enthält Tabelle<% end %>
    </p>
    <p class="searchresult-snippet"><%= snippet.gsub(/[\t\n]/, ' ').html_safe %></p>
  </li>
  <% end %>
</ol>

<p class="pagination-total"><%= number_with_delimiter @papers.total_count %> <%= t :kleine_anfragen, count: @papers.total_count %></p>
<%= paginate @papers %>

<% else %>
<div class="well">
  <p>Es wurden leider keine Anfragen gefunden, die mit deiner Suche übereinstimmen.</p>
  <%- fdsquery = { q: @term } -%>
  <p>Möglicherweise gibt es aber eine <%= link_to 'IFG-Anfrage bei FragDenStaat.de', "https://fragdenstaat.de/suche/?#{fdsquery.to_query}" %> zu deiner Suche.</p>
</div>
<% end %>

<% content_for :main_fullwidth_append do %>
<div class="subscribe-block subscribe-block--light">
  <div class="container">
    <h3>Lass dich bei neuen Anfragen für diese Suche benachrichtigen.</h3>
    <ul>
      <% if display_email_subscription? %>
      <li><%= link_to 'per E-Mail abonnieren', search_subscribe_path(q: @query), class: 'btn btn-primary btn-icon-email' %></li>
      <% end %>
      <li><%= link_to 'als Feed abonnieren', search_url(q: @query, format: :atom), class: 'btn btn-primary btn-icon-feed' %></li>
    </ul>
    <% if @conditions[:contains_table] %>
    <p class="subscribe-tabletwitter">Neue Anfragen mit Tabellen findest du auch auf Twitter: <a href="https://twitter.com/anfragen_daten">@anfragen_daten</a></p>
    <% end %>
  </div>
</div>
<% end %>