<% title "Suche per E-Mail abonnieren" %>

<div class="page-header">
  <h1>Suche per E-Mail abonnieren</h1>
</div>

<div class="row">
  <div class="col-sm-8">
    <%= form_for @subscription, url: subscription_create_path, html: { class: 'form-horizontal' } do |f| %>
      <%= f.hidden_field(:subtype) %>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="email">Suche:</label>
        <div class="col-sm-10">
          <%= f.text_field :query, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="email">E-Mail:</label>
        <div class="col-sm-10">
          <%= f.email_field :email, class: 'form-control', placeholder: 'mail@example.com' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit 'abonnieren', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-sm-4">
    <p>
      Um eine Benachrichtigung zu erhalten, wenn neue Anfragen verfügbar sind,
      die auf deine Suchanfrage zutreffen, kannst du hier deine E-Mail-Adresse eintragen.
    </p>
    <p>
      Beim ersten Abonnement von kleineAnfragen erhältst du einen Link um deine Mailadresse zu bestätigen.
    </p>
  </div>
</div>