<% content_for :title do %><%= @body.name %>, <%= @legislative_term %>. Wahlperiode<% end %>

<div class="page-header">
  <h1><%= link_to @body.name, @body %> &mdash; <%= @legislative_term %>. Wahlperiode</h1>
</div>

<ol>
  <% @papers.each do |paper| %>
  <li>
    <p><span class="label label-default"><%= paper.full_reference %></span> <%= link_to_paper paper.title, paper %></p>
    <p>Eingereicht von: <%= paper.originators.collect(&:name).join(', ') %> &mdash; Veröffentlicht am <%= paper.published_at %></p>
  </li>
  <% end %>
</ol>

