<h1><%= @body.name %> &mdash; <%= @legislative_term %>. Wahlperiode</h1>

<ol>
  <% @papers.each do |paper| %>
  <li>
    <p>[<%= paper.full_reference %>] <%= link_to_paper paper %></p>
    <p>Eingereicht von: <%= paper.originators.collect(&:name).join(', ') %> | Veröffentlicht am <%= paper.published_at %></p>
  </li>
  <% end %>
</ol>

