<% content_for :head do %><%= auto_discovery_link_tag(:atom, recent_url(format: :atom)) %><% end -%>
<% content_for :main_fullwidth do %>
<div class="jumbotron jumbotron--home">
  <div class="container">
    <p class="tagline">Suche in kleinen Anfragen:</p>
    <form action="/search" method="get" role="search" class="search">
      <div class="input-group">
        <input type="text" id="searchq" name="q" class="form-control" placeholder="Suche nach Themen wie &quot;Schulen&quot;, &quot;Mobilität&quot;, &hellip;" />
        <span class="input-group-btn">
          <button class="btn btn-success" type="submit">Suchen</button>
        </span>
      </div>
    </form>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-sm-6">
    <h2>Was sind <em>kleine Anfragen</em>?</h2>
    <p>Mit <em>kleinen Anfragen</em> können Abgeordnete in Parlamenten ihrer jeweiligen Regierung Fragen stellen, die von dieser zeitnah beantwortet und veröffentlicht werden müssen.</p>
    <p>Diese Seite sammelt kleine Anfragen* der Landesparlamente und des Bundestages und versucht sie möglichst einfach auffind-, durchsuch- und verlinkbar zu machen.</p>
    <p>Mehr zu den Anfragearten und den Regelungen in den einzelnen Landtagen auf der <a href="https://de.wikipedia.org/wiki/Kleine_Anfrage_(Deutschland)">Wikipedia-Seite zu kleinen Anfragen</a>.</p>
    <p><small>*: Natürlich auch große Anfragen und <em>schriftliche Anfragen</em> aus Bayern</small></p>

    <h3>Warum?</h3>
    <p>In Antworten auf kleine Anfragen verstecken sich immer wieder interessante Details.</p>
    <p>So konnte Zeit Online z.B. durch einer Reihe kleiner Anfragen, die die Grünen-Bundestagsfraktion an die Bundesregierung gerichtet hatte, eine <a href="http://www.zeit.de/mobilitaet/2014-09/deutsche-bahn-bruecken-zustand">interaktive Karte über den Zustand von Bahnbrücken</a> erstellen.</p>

    <h2>Länder- und Parlamentsübersicht:</h2>
    <ul class="bodies-list">
      <% @bodies.each do |body| %>
      <li><a href="<%= body_path body %>"><%= body.name %></a></li>
      <% end %>
    </ul>
  </div>

  <div class="col-sm-6">
    <h2>Zuletzt veröffentlichte kleine Anfragen</h2>
    <ol class="paper-list paper-list--with-body">
      <% @papers.each do |paper| %>
      <li>
        <p class="source-and-title">
          <span class="source">
            <%= link_to paper.body.state, paper.body, title: paper.body.name %>
            <span class="label label-default"><%= link_to_paper paper.full_reference, paper %></span>
          </span>
          <%= link_to_paper paper.title, paper %>
        </p>
        <p class="meta">
          Eingereicht von <%= paper.originators.collect(&:name).join(', ') %>
          &mdash;
          Veröffentlicht vor <time datetime="<%= paper.published_at.iso8601 %>"><%= time_ago_in_words_dativ paper.published_at %></time>
        </p>
      </li>
      <% end %>
    </ol>
    <a class="btn btn-default recent-link" href="/recent">Mehr zuletzt veröffentlichte kleine Anfragen&hellip;</a>
  </div>
</div>