<% content_for :title do %><%= @body.name %>: <%= @ministry.name %><% end %>
<div class="page-header">
  <h1><%= link_to @body.name, @body %> &mdash; <%= @ministry.name %></h1>
</div>

<ol class="paper-list">
  <%= render partial: 'paper/paper', collection: @papers %>
</ol>

<p class="pagination-total"><%= @papers.total_count %> kleine Anfragen</p>
<%= paginate @papers %>