<% title "#{@body.name}: #{@ministry.name}" -%>
<%- content_for :head do %><%= auto_discovery_link_tag(:atom, ministry_url(body: @body, ministry: @ministry, format: :atom)) %><% end -%>

<div class="page-header page-header--has-feed">
  <h1><%= link_to @body.name, @body %> &mdash; <%= @ministry.name %></h1>
  <%= link_to ministry_url(body: @body, ministry: @ministry, format: :atom), class: 'feed', title: 'neue Anfragen als Atom-Feed abonnieren' do %>
    <span class="sr-only">neue Anfragen als Atom-Feed abonnieren:</span><%= image_tag('feed-icon.svg', class: 'feed-icon', alt: 'Atom-Feed') %>
  <% end %>
</div>

<ol class="paper-list">
  <%= render partial: 'paper/paper', collection: @papers %>
</ol>

<p class="pagination-total"><%= @papers.total_count %> <%= t :kleine_anfragen, count: @papers.total_count %></p>
<%= paginate @papers %>