<% title @body.name %>
<%- content_for :head do %><%= auto_discovery_link_tag(:atom, body_feed_url(body: @body, format: :atom)) %><% end -%>

<div class="page-header page-header--has-feed">
  <h1><%= @body.name %> <small><code>(<%= @body.state %>)</code></small></h1>
  <%= link_to body_feed_url(body: @body, format: :atom), class: 'feed', title: "neue Anfragen als Atom-Feed abonnieren" do %>
    <span class="sr-only">neue Anfragen als Atom-Feed abonnieren:</span><%= image_tag('feed-icon.svg', class: 'feed-icon', alt: 'Atom-Feed') %>
  <% end %>
</div>

<div class="page-content row">
  <div class="col-md-6">
    <ol class="legislative-terms-overview">
      <% @terms.each do |term, count| %>
      <li class="row">
        <h2 class="col-xs-9 col-sm-10"><%= link_to "#{term.to_s}. Wahlperiode", legislative_term_path(@body, term) %></h2>
        <div class="paper-count col-xs-3 col-sm-2">
          <span><%= number_with_delimiter count %></span><br/>
          <%= t :anfragen, count: count %>
        </div>
      </li>
      <% end %>
    </ol>
  </div>

  <div class="col-md-6">
    <div class="latest-result">
      <%- unless @scraper_result.nil? -%>
        Letztes Update vor <%= relative_time_dativ @scraper_result.stopped_at %>
        <span class="circle circle--large circle--<%= @scraper_result.status %>"><%= @scraper_result.success? ? 'erfolgreich' : 'fehlgeschlagen' %></span>
        <br/>
      <%- end -%>
      <%- unless @latest_paper.nil? -%>
        Neueste Anfrage vor <%= relative_time_dativ @latest_paper.published_at %> veröffentlicht
      <%- end -%>
    </div>

    <% if @body.ministries.size > 0 %>
    <h3>Behörden:</h3>
    <ul>
      <% @body.ministries.order(name: :asc).each do |ministry| %>
      <li><%= link_to ministry.name, ministry_path(@body, ministry) %> <small>(<%= number_with_delimiter ministry.papers.count %>)</small></li>
      <% end %>
    </ul>
    <% end %>

    <% if @body.organizations.size > 0 %>
    <h3>Fraktionen:</h3>
    <ul>
      <% @body.organizations.order(name: :asc).each do |organization| %>
      <li><%= link_to organization.name, organization_path(@body, organization) %> <small>(<%= number_with_delimiter organization.papers.where(body: @body).count %>)</small></li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>

<%= render partial: 'subscription/block' %>