<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title><%= content_for?(:title) ? yield(:title) + (' &mdash; '.html_safe) : '' %>kleineAnfragen</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-static-top" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="<%= root_url %>" class="navbar-brand">kleineAnfra<span>g</span>en.</a>
    </div>

    <% if display_header_search? %>
    <form class="navbar-form navbar-left" role="search" action="/search" method="get" class="search">
      <div class="form-group">
        <div class="input-group">
          <input type="search" id="searchq" name="q" class="form-control" placeholder="Suche nach Themen&hellip;"/>
          <span class="input-group-btn">
            <button class="btn btn-success" type="submit">Suchen</button>
          </span>
        </div>
      </div>
    </form>
    <% end %>

    <nav role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <%# <li><a href="/blog/">Blog</a></li> %>
        <li><a href="https://twitter.com/kleine_anfragen">Twitter</a></li>
      </ul>
    </nav>
  </div>
</header>

<main>
  <%= yield :main_fullwidth %>
  <div class="container">
    <%= yield %>
  </div>
</main>

<footer class="app-footer">
  <div class="container">
    <p><%= Date.today.year %> kleineAnfragen.</p>
  </div>
</footer>

</body>
</html>