<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <%= title site: 'kleineAnfragen', separator: '—', reverse: true %>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <%= tag 'link', href: opensearch_path, rel: 'search', type: 'application/opensearchdescription+xml', title: 'kleineAnfragen Suche' %>
  <%= description %>
  <%= opengraph { |graph| graph.site_name 'kleineAnfragen' } -%>
  <%= twitter_card('summary') { |card| card.site '@kleineanfragen' } -%>
  <%= yield :head %>
  <!-- Entwickler*in? Auf der Suche nach Rohdaten oder einer API? Schau bei /data vorbei. -->
</head>
<body>

<header class="navbar navbar-static-top" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="<%= root_url %>" class="navbar-brand" data-no-turbolink='true'>kleineAnfragen.</a>
    </div>

    <nav role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <%# <li><a href="/blog/">Blog</a></li> %>
        <li><a href="https://twitter.com/kleineanfragen">Twitter</a></li>
      </ul>
    </nav>

    <% if display_header_search? %>
    <form class="navbar-form navbar-left search search--navbar" role="search" action="/search" method="get" class="search">
      <div class="input-group">
        <label for="searchq" class="sr-only">Suche in kleinen Anfragen:</label>
        <input type="search" id="searchq" name="q" class="form-control" placeholder="Suche nach Themen&hellip;"/>
        <span class="input-group-btn">
          <button class="btn btn-success" type="submit">Suchen</button>
        </span>
      </div>
    </form>
    <% end %>
  </div>
</header>

<main>
  <%= yield :main_fullwidth_prepend %>
  <div class="container">
    <%= yield %>
  </div>
  <%= yield :main_fullwidth_append %>
</main>

<footer class="app-footer container">
  <div class="row">
    <div class="col-md-8 footer-project-line">
      <p>
        kleineAnfragen ist ein ehrenamtliches Projekt der <a href="http://okfn.de">Open Knowledge Foundation Deutschland e.V.</a>
        mit Unterstützung der <a href="https://headissue.com">headissue GmbH</a>.
        Wenn Sie kleineAnfragen auch unterstützen möchten, <%= link_to 'freuen wir uns über Ihre Spende!', info_spenden_path %>
      </p>
    </div>
    <div class="col-md-2 col-xs-6 footer-support-logo">
      <a href="http://okfn.de"><img src="<%= image_url 'okfn-logo.svg' %>" alt="Open Knowledge Foundation Deutschland e.V." role="presentation" /></a>
    </div>
    <div class="col-md-2 col-xs-6 footer-support-logo">
      <a href="https://headissue.com"><img src="<%= image_url 'headissue-logo.svg' %>" alt="headissue GmbH" role="presentation" /></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <nav class="footer-links">
        <ul>
          <li><%= link_to 'Über diese Seite', info_path %></li>
          <li><%= link_to 'Daten(qualität) & API', info_daten_path %></li>
          <li><%= link_to 'Mitmachen', info_mitmachen_path %></li>
          <li><%= link_to 'Datenschutz', info_datenschutz_path, 'data-no-turbolink' => true %></li>
          <li><%= link_to 'Kontakt & Impressum', info_kontakt_path %></li>
          <li><a href="https://twitter.com/kleineanfragen">@kleineanfragen auf Twitter</a></li>
          <li><%= link_to 'Spenden', info_spenden_path, class: 'donate' %></li>
        </ul>
      </nav>
    </div>
    <div class="col-sm-6">
      <nav class="footer-links footer-related">
        <ul>
          <li><a href="http://offenesparlament.de">OffenesParlament.de</a></li>
          <li><a href="https://politik-bei-uns.de">Politik-Bei-Uns.de</a></li>
          <li><a href="https://fragdenstaat.de">FragDenStaat.de</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>

<%= javascript_include_tag 'enhance', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => false %>
<%= javascript_include_tag 'application', debug: false, 'data-turbolinks-track' => true, 'data-turbolinks-eval' => false, 'async' => true %>
<%= render partial: 'site/tracking' -%>
</body>
</html>