<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
<%= stylesheet_link_tag 'email' %>
</head>
<body style="margin:0; padding:0;" bgcolor="#f6f6f6" itemscope itemtype="http://schema.org/EmailMessage">
<table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#f6f6f6">
  <tr>
    <td align="center" valign="top" bgcolor="#f6f6f6" style="background-color: #f6f6f6;">
      <table border="0" cellpadding="0" cellspacing="0" class="container">
        <tr>
          <td class="container-padding header" align="center">
            <%= link_to image_tag('kleineanfragen@2x.png', alt: 'kleineAnfragen', width: 143, height: 24), root_url %>
          </td>
        </tr>
        <tr>
          <td class="container-padding content" align="left">
            <%= yield %>
          </td>
        </tr>
        <tr>
          <td>
            <table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#f2dede">
              <tr>
                <td align="center" valign="top" height="3" bgcolor="#ff0000" style="background-color: #ff0000; height: 3px;"></td>
              </tr>
              <tr>
                <td align="center" valign="top" class="obituary" bgcolor="#f2dede" style="background-color: #f2dede;">
                  <p>kleineAnfragen wurde zum <strong>31.12.2020 abgeschaltet</strong>. <%= link_to 'Mehr Informationen und Hintergründe', obituary_url %></p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="container-padding footer" align="center">
            <p>
              kleineAnfragen &bull;
              <%= link_to 'Datenschutz', info_datenschutz_url %>
              <%= yield :footer %>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>